/*------------------------------------(سليدر 1)------------------------------------*/
#slider{
  width: 350px;
  height: 230px;
  position: absolute;
 
  left: 8px;
  overflow: hidden;
  background-color: blue;
  box-shadow: 0 0 5px;
  border-radius: 20px;      
}
#slider ul{
    padding: 0;
    top: -16px;
    width: 30000px;
    list-style: none;
    position: relative;
    animation: sliding 25s ease-in-out infinite;
    background-color: #2c3c5036;
}
#slider ul li{
    float: left;
    
    position: relative;
    background-color: #2c3c5036;
}


@keyframes sliding{
    0%{left: 0;}
    10%{left: 0;}
    20%{left: 0;}
    
    20.3%{left: -350px;}
    30%{left: -350px;}
    40%{left: -350px;}
    
    40.3%{left: -700px;}
    50%{left: -700px;}
    60%{left: -700px;}
    
    60.3%{left: -1050px;}
    70%{left: -1050px;}
    80%{left: -1050px;}
    
    80.3%{left: -1400px;}
    90%{left: -1400px;}
    100%{left: -1400px;}
    
}
/*------------------------------------(عاجل)------------------------------------*/
#text1{
    position: absolute;
    width: 1100px;
    top: 0px;
    background-color: #2c3c5036;
    box-shadow: 0 0 5px;
    border-radius: 20px;
}

#textdiv{
    position:relative;
   
    top: 500px;
  
}

#textdiv img{
    position:relative;
    top: 10px;
    left: 1000px;
    width: 1250px;
    border-radius: 20px;
    box-shadow: 0 0 5px;
  
}


